* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: rgba(255, 255, 255, 0.87);
  --color-black: #242424;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;

  color: var(--color-white);
  background-color: var(--color-black);
}
